
    .nav-link {
        color: white;
        font-weight: 500;
    }

    .nav-link:hover {
        color: blue;
    }

    .ct {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0px 60px;
    }

    #hero_h1 {
        font-size: 48px;
    }

    .myhero p {
        color: gray;
    }

    header {
        background-image: url("assets/hero.jpg");
        background-size: cover;
        background-position: center;
        /* IMPORTANT */
    }

    video {
        width: 100%;
        max-width: 500px;
        /* optional - control size */
        height: auto;
    }

    .custom-shape-divider-bottom-1771478213 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1771478213 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 64px;
    }

    .custom-shape-divider-bottom-1771478213 .shape-fill {
        fill: #FFFFFF;
    }

    .hero {
        position: relative;
    }

    .arrow {
        background-color: rgb(28, 135, 177);
        color: white;
        padding: 8px 10px;
    }

    .main_card img {
        width: 250px;
        height: 250px;
    }

    .mobile {
        background: linear-gradient(rgba(rgb(192, 190, 190)), rgba(rgb(202, 200, 200))),
            url('assets/hero.jpg');
        background-size: cover;
        background-position: center;

    }

    .test_card {
        transition: 0.4s;
        background-color: black;
        color: white;
    }

    .test_card:hover {
        background-color: white;
        color: black;
    }

    .star i {
        color: purple;
    }

    .card_ct {
        background-color: black;
    }

    .carousel-indicators {

        bottom: -62px;

    }

    .mybut {

        background-color: steelblue !important;
    }

    .contact {
        position: relative;
    }

    .custom-shape-divider-top-1771786869 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1771786869 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 61px;
    }

    .custom-shape-divider-top-1771786869 .shape-fill {
        fill: #FFFFFF;
    }

    .icon  {
        background-color: rgb(25, 28, 236);
        color: white;
        padding: 8px 10px;
       border-radius: 50%;
       margin-left: 20px;
    }
